<!-- Personality Modal -->
<div tabindex="-1" class="modal fade" id="personalityModal" role="dialog" aria-hidden="true" aria-labelledby="personalityModalLabel">
    <div class="modal-dialog two">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="personalityModalLabel">Personality Insights</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>@CouEdwards is likely to:</h4>
                        <p><i class="fa fa-check-circle-o text-primary"></i> be influenced by family when making produkt purchases</p>
                        <p><i class="fa fa-check-circle-o text-primary"></i> like Latin music</p>
                        <p><i class="fa fa-check-circle-o text-primary"></i> consider starting a business in next few years</p>
                    </div>
                    <div class="col-sm-6">
                        <h4>@CouEdwards is unlikely to:</h4>
                        <p><i class="fa fa-times-circle-o text-danger"></i> prefer using credit cards for shopping</p>
                        <p><i class="fa fa-times-circle-o text-danger"></i> like documentary movies</p>
                        <p><i class="fa fa-times-circle-o text-danger"></i> attend live musical events</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box">
                            <p class="lit-right text-primary"><span>*% percentile</span></p>
                            <h4>Personality</h4>
                            <div class="row">
                                <div class="col-xs-9">
                                    <select id="agree">
                                        <option>Agreeableness</option>
                                        <option>Open</option>
                                        <option>Conscientious</option>
                                        <option>Extravert</option>
                                        <option>Agreeable</option>
                                        <option>Emotional</option>
                                    </select>
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">94%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <select id="consc">
                                        <option>Conscientiousness</option>
                                        <option>Open</option>
                                        <option>Conscientious</option>
                                        <option>Extravert</option>
                                        <option>Agreeable</option>
                                        <option>Emotional</option>
                                    </select>
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">81%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                   <select id="open">
                                        <option>Openness</option>
                                        <option>Open</option>
                                        <option>Conscientious</option>
                                        <option>Extravert</option>
                                        <option>Agreeable</option>
                                        <option>Emotional</option>
                                    </select>
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">80%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <select id="intro">
                                        <option>Introversion/Extraversion</option>
                                        <option>Open</option>
                                        <option>Conscientious</option>
                                        <option>Extravert</option>
                                        <option>Agreeable</option>
                                        <option>Emotional</option>
                                    </select>
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">64%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <select id="em">
                                        <option>Emotional range</option>
                                        <option>Open</option>
                                        <option>Conscientious</option>
                                        <option>Extravert</option>
                                        <option>Agreeable</option>
                                        <option>Emotional</option>
                                    </select>
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">50%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box">
                            <p class="lit-right text-primary"><span>*% percentile</span></p>
                            <h4>Customer Needs</h4>
                            <div class="row">
                                <div class="col-xs-9">
                                    Harmony
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">97%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    Curiosity
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">93%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    Stability
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">87%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    Self-expression
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">87%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    Closeness
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">84%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box">
                            <p class="lit-right text-primary"><span>*% percentile</span></p>
                            <h4>Values</h4>
                            <div class="row">
                                <div class="col-xs-9">
                                    Tradition
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">89%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    Stimulation
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">87%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    Helping others
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">83%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    Achievement
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">65%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    Taking pleasure in life
                                </div>
                                <div class="col-xs-3 box-dot">
                                    <p class="pull-right">44%</p>
                                    <i class="fa fa-circle text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link" data-target=".chartModal" data-toggle="modal" data-dismiss="#personalityModal">See Sunburst Visualisation <i class="fa fa-chevron-right"></i></a>
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
