{% load static from staticfiles %}
{% load humanize %}
<div id="page7-div" class="page-div">
  <div class="page-header">
    <div class="headline">Personal Situation 5</div>
  </div>
  <h2 class="page-title" style="text-align: center; margin: 20pt 0;">
    Your Tax Situation
  </h2>
  <p>
    Based on the information you have provided to us we have optimized your retirement
    income to ensure you maximize your after tax income. This is based on your most recent
    tax filing information you provided to us.
  </p>
  <!-- TODO: implement tax situation -->
</div>
