{% extends "layouts_new/base.html" %}
{% load i18n bootstrap3 filters %}
{% load static from staticfiles %}


{% block foot_js %}
<script type="application/javascript" src="{% static "js/widgets.js" %}"></script>
<script type="application/javascript">
  $(function () {
    betasmartz.widgets.searchTable("#activity");
    var dp = $('#customDatePicker').datetimepicker({
      inline: true,
      format: 'DDD'
    }).on('dp.change', function(e) {
      $('#id_period').val('');
      $('#id_timestamp').val(moment().diff(e.date, 'days'));
      $('.activityFilterForm').submit();
    })
  });
  function handlePeriodChange(elem) {
    if (elem.value === 'custom') {
      $('#customDateModal').modal({
        backdrop: 'static'
      });
    } else {
      $('#id_timestamp').val('');
      elem.form.submit();
    }
  }
</script>
{% endblock %}


{% block main_content %}
  <div class="container">

    <div class="row m-t">
      <div class="col-sm-6">
          <h3>View your company activity</h3>
      </div>
      <form class="activityFilterForm">
        <div class="col-sm-2">
          {% bootstrap_field filter.form.group show_label=False show_help=False %}
        </div>
        <div class="col-sm-2">
          {% bootstrap_field filter.form.verb show_label=False show_help=False %}
        </div>
        <div class="col-sm-2">
          {% bootstrap_field filter.form.period show_label=False show_help=False %}
          {% bootstrap_field filter.form.timestamp show_label=False show_help=False %}
        </div>
      </form>
    </div>

    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table" id="activity">
          <thead>
            <tr>
              <th>#</th>
              <th>User name</th>
              <th>Email</th>
              <th>Date</th>
              <th>Time</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for item in filter %}
              <tr>
                <td>{{ item.actor.pk }}</td>
                <td>{{ item.actor.get_full_name }}</td>
                <td><a href="mailto:{{ item.actor.email }}">{{ item.actor.email }}</a></td>
                <td>{{ item.timestamp|date:'d/m/y' }}</td>
                <td>{{ item.timestamp|date:'H:i' }}</td>
                <td>{{ item.verb }}<!-- : {{ item.description }} --></td>
              </tr>
            {% empty %}
              <tr class="text-center">
                <td colspan="5">
                  No entries
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <a href="">Download Activity as CSV</a>
    </div>
  </div>

  <div class="modal fade" id="customDateModal" tabindex="-1" role="dialog" aria-labelledby="customDateModalLabel">
    <div class="modal-dialog" role="document" style="max-width: 360px">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="customDateModalLabel">Choose date</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div id="customDatePicker"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
