{% extends 'email/email.html' %}

{% block message %}

    Please follow this link <b><a href="{{ invite_url }}">{{ invite_url }}</a></b> in order to complete your application
    as {{ application_type }} of the {{ inviter_class }} {{ inviter_name }}.

    To complete onboarding, you will want a recent tax transcript which you can download from <a href="https://www.irs.gov/individuals/get-transcript">www.irs.gov/indviduals/get-transcript</a> and a recent social security statement which you can download from <a href="https://www.ssa.gov/myaccount/statement.html">www.ssa.gov/myaccount/statement.html</a>.

{% endblock %}
